html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: gray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
div {
  padding: auto;
  margin: auto;
}
.container {
  background-color: rgb(151, 151, 151);
  text-align: center;
  border: black solid 2px;
  border-radius: 5%;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 10px;
  width: auto;
  padding: 15px;
  font-family: monospace;
}
.containers {
  background-color: rgb(151, 151, 151);
  text-align: center;
  border: black solid 2px;
  border-radius: 10px;
  margin-top: 13px;
  margin-right: auto;
  width: 49%;
  height: auto;
  padding: 15px;
  font-family: monospace;
}
.nav {
  font-size: larger;
  text-align: center;
  color: white;
  z-index: 99;
  margin: auto;
  border: solid black 2px;
  width: 100%;
  background-color: rgb(105, 10, 10);
  padding: 7px;
  position: fixed;
  justify-content: space-between;
}
.nav a:hover {
  color: yellow;
}
.buttons {
  text-align: center;
  font-size: x-large;
  padding: 10px;
}
.newImg {
  border: solid black 2px;
  border-radius: 10px;
  margin: 0px;
  padding: 0%;
  max-width: 100%;
  max-height: 200px;
}
.newProducts {
  display: flex;
}
.logo {
  margin-top: 50px;
  margin-left: 50%;
}
.center {
  text-align: center;
  font-size: larger;
  margin: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.det {
  color: rgb(53, 53, 53);
}
.loader {
  color: rgb(112, 5, 5);
}
button {
  background-color: yellow;
}
.green {
  font-size: larger;
  color: green;
}
.hlink {
  color: rgb(255, 230, 0);
}
.red {
  color: rgb(105, 30, 30);
  font-size: larger;
}
.pImg {
  border: black solid 2px;
  border-radius: 10px;
}
.smaller {
  font-size: smaller;
}
@keyframes loader {
  0% {
    color: red;
  }
  50% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: red;
  }
}

.anim {
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
