html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: gray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
div {
  padding: auto;
  margin: auto;
}
.container {
  background-color: rgb(151, 151, 151);
  text-align: center;
  border: black solid 2px;
  border-radius: 5%;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 10px;
  width: auto;
  padding: 15px;
  font-family: monospace;
}
.containers {
  background-color: rgb(151, 151, 151);
  text-align: center;
  border: black solid 2px;
  border-radius: 10px;
  margin-top: 13px;
  margin-right: auto;
  width: 49%;
  height: auto;
  padding: 15px;
  font-family: monospace;
}
nav {
  margin: auto 0;
  position: fixed;
  z-index: 5000;
  width: 100%;
  height: 40px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 40px;
  height: 100%;
  font-size: 12px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 25%;
}
a:nth-child(2) {
  width: 25%;
}
a:nth-child(3) {
  width: 25%;
}
a:nth-child(4) {
  width: 25%;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 25%;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
  width: 25%;
  left: 25%;
  background-color: #e74c3c;
}
nav .start-create,
a:nth-child(3):hover ~ .animation {
  width: 25%;
  left: 50%;
  background-color: #3498db;
}
nav .start-info,
a:nth-child(4):hover ~ .animation {
  width: 25%;
  left: 75%;
  background-color: #9b59b6;
}
.buttons {
  text-align: center;
  font-size: x-large;
  padding: 10px;
}
.newImg {
  border: solid black 2px;
  border-radius: 10px;
  margin: 0px;
  padding: 0%;
  max-width: 100%;
  max-height: 200px;
}
.newProducts {
  display: flex;
}
.logo {
  margin-top: 50px;
  margin-left: 50%;
}
.center {
  text-align: center;
  font-size: larger;
  margin: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.det {
  color: rgb(53, 53, 53);
}
.loader {
  color: rgb(112, 5, 5);
}
button {
  background-color: rgb(101, 101, 139);
  border-radius: 5px;
  border: black 1px solid;
  color: white;
  float: initial;
}
button:hover {
  background-color: darkorange;
}
.green {
  font-size: larger;
  color: green;
}
.hlink {
  color: rgb(255, 230, 0);
}
.red {
  color: rgb(105, 30, 30);
  font-size: larger;
}
.pImg {
  border: black solid 2px;
  border-radius: 10px;
}
.smaller {
  font-size: smaller;
}
@keyframes loader {
  0% {
    color: red;
  }
  50% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: red;
  }
}

.anim {
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.table,
td,
th {
  text-align: center;
  border: solid 2px black;
  margin: auto;
  border-collapse: collapse;
}

th {
  background-color: red;
}
td {
  background-color: cadetblue;
}
td:hover {
  background-color: yellow;
}
td:nth-child(3) {
  width: 30%;
}
.collapse-button {
  display: block;
  margin: auto;
  width: 200px;
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}
#newTitle {
  color: rgb(53, 53, 53);
}
